name: Commitlint

on:
  pull_request:
    branches: ["main"]

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate commit messages (Conventional Commits)
        uses: wagoid/commitlint-github-action@v5
