name: Generate APIs
on:
  push:
    branches:
      - "main"
permissions:
  contents: write
jobs:
  build-go:
    if: startsWith(github.ref, 'refs/tags/') == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "24.4"
      - name: Setup Go 1.21.x
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.x"
          cache: true
      - name: Checkout go-genproto
        uses: actions/checkout@v4
        with:
          repository: smallbiznis/go-genproto
          token: ${{ secrets.ACCESS_TOKEN }}
          path: gen
      - name: Cache Go build artifacts
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Generate APIs
        env:
          OPENAPI_PLUGIN_VERSION: v2.18.0
          GRPC_GATEWAY_PLUGIN_VERSION: v2.18.0
          GRPC_PLUGIN_VERSION: v1.3.0
          PROTOBUF_PLUGIN_VERSION: v1.34.1
        run: |
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2@${OPENAPI_PLUGIN_VERSION}
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway@${GRPC_GATEWAY_PLUGIN_VERSION}
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@${GRPC_PLUGIN_VERSION}
          go install google.golang.org/protobuf/cmd/protoc-gen-go@${PROTOBUF_PLUGIN_VERSION}
          make LANGUAGE=go OUTPUT=gen
      - name: Check for changes
        id: check_changes
        run: |
          cd gen
          CHANGES=$(git status --porcelain)
          echo "changes=$(git status --porcelain | tr '\n' ' ')" >> $GITHUB_OUTPUT
          echo "Detected changes or untracked files:"
          echo "$CHANGES"
      - name: No changes detected
        if: steps.check_changes.outputs.changes == ''
        run: echo "No changes or untracked files detected, skipping further steps."
      - name: Commit changes
        if: steps.check_changes.outputs.changes != ''
        run: |
          echo "There are changes or untracked files, proceeding with the next steps."
          cd gen
          git config --global user.email "taufiktriantono4@gmail.com"
          git config --global user.name "Taufik Triantono"
          git add .
          git commit -m "regenerate API"
          git push
